<div class="container artshow--show">
  <section class="space-no-top" id="pre-footer">
    <div class="row">
      <div class="col-md-8 artshow--image">
        <cl-image public-id="{{art.image}}" class="img-responsive" format="jpg">
margin: 10px;
          <cl-transformation height="600" width="800" crop="limit" gravity="north"/>
        </cl-image>
      </div>
      <div class="col-md-4 artshow--info">
        <h1>{{art.title}}</h1>
        <hr>
        <h2>{{art.artist}}</h2>
        <p>{{art.description}}</p>
        <hr>
        <p>{{art.saleprice}}</p>
        <p>This work is available for sale through the Napa ARTwalk program. Ten percent of all sales during the exhibition supports the Napa ARTwalk. If you are interested in more information about purchasing a sculpture on display, please call the City of Napa’s Economic Development Division at <a href="tel:707-257-9502">707-257-9502</a>.</p>
      </div>
    </div>
  </section>
</div>
