<div class="container">
  <section class="space-no-top" id="pre-footer">
    <div class="alert alert-info alert-dismissible" role="alert">
     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Photo Gallery (grid of thumbnail photos of people interacting with the work)</strong>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-3 col-xs-4">
            <a href="#">
                 <img src="http://placehold.it/150x100" class="thumbnail img-responsive">
            </a>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-4">
            <a href="#">
                 <img src="http://placehold.it/150x100" class="thumbnail img-responsive">
            </a>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-4">
            <a href="#">
                 <img src="http://placehold.it/150x100" class="thumbnail img-responsive">
            </a>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-4">
            <a href="#">
                 <img src="http://placehold.it/150x100" class="thumbnail img-responsive">
            </a>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-4">
            <a href="#">
                 <img src="http://placehold.it/150x100" class="thumbnail img-responsive">
            </a>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-4">
            <a href="#">
                 <img src="http://placehold.it/150x100" class="thumbnail img-responsive">
            </a>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-4">
            <a href="#">
                 <img src="http://placehold.it/150x100" class="thumbnail img-responsive">
            </a>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-4">
            <a href="#">
                 <img src="http://placehold.it/150x100" class="thumbnail img-responsive">
            </a>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-4">
            <a href="#">
                 <img src="http://placehold.it/150x100" class="thumbnail img-responsive">
            </a>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-4">
            <a href="#">
                 <img src="http://placehold.it/150x100" class="thumbnail img-responsive">
            </a>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-4">
            <a href="#">
                 <img src="http://placehold.it/150x100" class="thumbnail img-responsive">
            </a>
        </div>
        <div class="col-lg-3 col-sm-3 col-xs-4">
            <a href="#">
                 <img src="http://placehold.it/150x100" class="thumbnail img-responsive">
            </a>
        </div>
      </div>
  </section>
</div>
