
<div class="container landing-container landing--art">
  <section class="space-no-top">
    <h1>Napa Art Walk 2015-2017 Current Program</h1>
    <div class="row">
      <div ng-repeat="art in arts">
        <div class="col-lg-4 col-sm-6 col-xs-12 art">
          <a ng-href="#/art/{{art.slug}}">
             <cl-image public-id="{{art.image}}" class="inline" format="jpg">
               <cl-transformation width="340" height="340" crop="fill" gravity="north"/>
             </cl-image>
             <div class="description">
               <p class="title">{{art.title}}</p>
               <p class="artist">by {{art.artist}}</p>
             </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container landing-container landing--news">
  <section class="space-no-top">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>Recent News</h1>
          <ul>
            <div ng-repeat="article in recent_news | orderBy:'-date'">
              <li>
                <h4>{{article.title}} | {{article.date | date:mediumDate}}</h4>
                <p>{{article.body | limitTo : 200}}...</p>
              </li>
            </div>
          </ul>
        </div>
      </div>
  </section>
</div>

<div class="container landing-container landing--info">
  <section class="space-no-top" id="pre-footer">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <p>Pick up a tour brochure at the Napa Valley Welcome Center at 600 Main St. Napa
          <br>
          OR
          <br>
          <a href="pdf/ARTwalk1315_Brochure.pdf"><strong class="download-brochure">Download one now</strong></a>
        </p>
      </div>
    </div>
  </section>
</div>
<!--
-->
