<section class="landing--header">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>Napa Art Walk 2015-2017</h1>
        <h2>Current Program</h2>
        <hr>
      </div>
    </div>
  </div>
</section>

<section class="landing--art">
  <div class="container">
    <div class="row">
      <div ng-repeat="art in arts">
        <div class="col-lg-4 col-sm-6 col-xs-12 art">
          <a ng-href="#/art/{{art.slug}}">
             <cl-image public-id="{{art.image}}" class="img-responsive" format="jpg">
               <cl-transformation width="340" height="340" crop="fill" gravity="north"/>
             </cl-image>
             <div class="description">
               <p class="title">{{art.title}}</p>
               <p class="artist">by {{art.artist}}</p>
             </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="landing--news" >
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>
          <i class="fa fa-newspaper-o"><span class="fatext">Recent News</span></i>
        </h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <ul>
          <div ng-repeat="article in recent_news | orderBy:'-date'">
            <li>
              <a ng-href="#/news/{{article.slug}}">
                <h2>{{article.title}}</h2>
                <h3>{{article.date | date:mediumDate}}</h3>
                <p>{{article.body | limitTo : 300}}...</p>
              </a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="landing--info">
  <div class="container">
      <div class="info--block">
        <p><em>Pick up a tour brochure @ <br> Napa Valley Welcome Center, 600 Main St. Napa <br> and from our ARTwalk sponsors</em></p>
        <a href="http://res.cloudinary.com/www-napaartwalk-com/image/upload/v1437799412/ARTwalk_15-17_Inside_FINAL_UPDATED_thlknh.pdf" target="_blank">
          <i class="fa fa-cloud-download fa-2x">
            <span class="fatext">Download one now</span>
          </i>
        </a>
      </div>
    </div>
  </div>
</section>
