<section class="about--info">
  <div class="info--text">
    <div class="container">
      <div class="row">
        <div class="col-md-8 content">
          <i class="fa fa-info-circle fa-2x info--header"><span class="fatext">About</span></i>
          <div ng-bind-html="about"></div>
          <p class="credit">Image by Shari Cooper</p>
        </div>
        <div class="col-md-4 content">
          <i class="fa fa-users fa-2x info--header"><span class="fatext">Jury</span></i>
          <div ng-bind-html="jury"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about--social">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-6 content">
          <i class="fa fa-heart fa-2x social--header vote"><span class="fatext">Vote</span></i>
          <div ng-bind-html="vote"></div>
        </div>
        <div class="col-md-6 content">
          <i class="fa fa-instagram fa-2x social--header instagram"><span class="fatext">Instagram contest</span></i>
          <div ng-bind-html="instagramcontest"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about--audiotour">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Audio tour</h4>
        <div ng-bind-html="audiotour"></div>
        <div class="app--links text-center">
          <a href="https://itunes.apple.com/us/app/otocast/id880987065?ls=1&mt=8" target="_blank">
            <i class="fa fa-apple fa-2x"><span class="fatext">iOS</span></i>
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.otocast.app" target="_blank">
            <i class="fa fa-android fa-2x"><span class="fatext">Android</span></i>
          </a>
        </div >
      </div>
    </div>
  </div>
</section>
