<div class="container">
  <hr>
  <section class="space" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <p>Current Program Information and Theme</p>
          </div>
          <div class="col-lg-4">
            <img class="media-object" src="http://placehold.it/300x200" alt="...">
          </div>
        </div>
      </div>
      <!-- .container -->
  </section>
  <hr>
  <section class="space" id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h3 class="big-title text-center">About</h3>
            <hr>
            <div ng-bind-html="short"></div>
            <h4 class="text-center">History</h4>
            <hr>
            <div ng-bind-html="short"></div>
            <h4 class="text-center">Selection Process</h4>
            <hr>
            <div ng-bind-html="short"></div>
            <h4 class="text-center">Timeline</h4>
            <hr>
            <div ng-bind-html="short"></div>
          </div>
        </div>
      </div>
      <!-- .container -->
  </section>
  <hr>
  <section class="space-no-top">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                  <h4>Old News</h4>
                  <hr>
              </div>
          </div>
          <div class="row">
            <ul class="media-list">
              <li class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="...">
                  </a>
                </div>
                <div class="media-body media-right">
                  <h4 class="media-heading">Napa ArtWalk was cool!</h4>
                  <div ng-bind-html="ipsum"></div>
                </div>
              </li>
            </ul>
          </div>
      </div>
  </section>
  <hr>

  <section class="space-no-top" id="pre-footer">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                  <h4>SPECIAL THANKS</h4>
                  <hr>
              </div>
          </div>

          <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-2">
                  <p><a href="http://napa.andaz.hyatt.com/en/hotel/home.html">Andaz Napa</a></p>
                  <p><a href="http://chandracerritocontemporary.com/">Chandra Cerrito</a></p>
                  <p>Napa City installation crew</p>
                  <p>Napa City Steering Commitee</p>
                  <p><a href="http://www.napavalley.edu/people/eshearer/Pages/welcome.aspx">Erik Shearer</a></p>
              </div>

              <div class="col-md-3 col-sm-3 col-xs-6">
                  <p><a href="https://www.francisfordcoppolawinery.com/">Francis Ford Coppola Presents</a></p>
                  <p><a href="http://www.kelliefuller.com/">Kellie Fuller</a></p>
                  <p><a href="http://www.candcinc.com/">Lisa Carlsson Graphic Design</a></p>
                  <p><a href="http://mikeykelly.com/">Mikey Kelly</a></p>
                  <p><a href="http://www.linkedin.com/pub/milbert-mariano/71/5a3/4">Milbert Mariano</a></p>
              </div>

              <div class="col-md-3 col-sm-3 col-xs-6">
                  <p><a href="http://www.napavalleyplayhouse.org/">Michael Ross</a></p>
                  <p><a href="http://oxbowpublicmarket.com/">The Oxbow Public Market</a></p>
                  <p><a href="http://www.tarlagrill.com/">Tarla Mediterranean Grill</a></p>
                  <p><a href="https://www.vintnerscollective.com/">Vintner's Collective</a></p>
              </div>

          </div>
      </div>
  </section>
</div>
