<div class="container">
  <section class="space" id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h3 class="big-title text-center">Slide show of current art</h3>
            <hr>
            <h3 class="big-title text-center">copy - About</h3>
            <hr>
            <div ng-bind-html="short"></div>
            <h4 class="text-center">copy - Jury</h4><hr> <div ng-bind-html="short"></div>
            <hr>
            <h4 class="text-center">copy - Vote</h4><hr> <div ng-bind-html="short"></div>
            <hr>
            <h4 class="text-center">copy - Instagram contest</h4><hr> <div ng-bind-html="short"></div>
            <hr>
            <h4 class="text-center">copy - audio tour</h4><hr> <div ng-bind-html="short"></div>
            <hr>
            <div ng-bind-html="short"></div>
          </div>
        </div>
      </div>
      <!-- .container -->
  </section>

  <!--
  <section class="space-no-top">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                  <h4>Old News</h4>
              </div>
          </div>
          <div class="row">
            <ul class="media-list">
              <div ng-repeat="article in media | orderBy:'-date'">
                <hr>
                <li class="media">
                  <div class="media-left">
                  </div>
                  <div class="media-body media-right">
                    <a href="{{article.link}}" target="_blank"><h3 class="media-heading">"{{article.headline}}"</h3></a>
                    <p>{{article.publication}}: {{article.date | date:mediumDate}} | {{article.author}}</p>
                  </div>
                </li>
              </div>
            </ul>
          </div>
      </div>
  </section>
  -->
  <hr>

  <section class="space-no-top" id="pre-footer">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                  <h4>SPECIAL THANKS</h4>
                  <hr>
              </div>
          </div>

          <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-6 col-md-offset-2">
                  <p><a href="http://napa.andaz.hyatt.com/en/hotel/home.html">Andaz Napa</a></p>
                  <p><a href="http://chandracerritocontemporary.com/">Chandra Cerrito</a></p>
                  <p>Napa City installation crew</p>
                  <p>Napa City Steering Commitee</p>
                  <p><a href="http://www.napavalley.edu/people/eshearer/Pages/welcome.aspx">Erik Shearer</a></p>
              </div>

              <div class="col-md-3 col-sm-3 col-xs-6">
                  <p><a href="https://www.francisfordcoppolawinery.com/">Francis Ford Coppola Presents</a></p>
                  <p><a href="http://www.kelliefuller.com/">Kellie Fuller</a></p>
                  <p><a href="http://www.candcinc.com/">Lisa Carlsson Graphic Design</a></p>
                  <p><a href="http://mikeykelly.com/">Mikey Kelly</a></p>
                  <p><a href="http://www.linkedin.com/pub/milbert-mariano/71/5a3/4">Milbert Mariano</a></p>
              </div>

              <div class="col-md-3 col-sm-3 col-xs-6">
                  <p><a href="http://www.napavalleyplayhouse.org/">Michael Ross</a></p>
                  <p><a href="http://oxbowpublicmarket.com/">The Oxbow Public Market</a></p>
                  <p><a href="http://www.tarlagrill.com/">Tarla Mediterranean Grill</a></p>
                  <p><a href="https://www.vintnerscollective.com/">Vintner's Collective</a></p>
              </div>

          </div>
      </div>
  </section>
</div>
