/*
 grey - e0e0e2
 green - 81d2c7
 light-blue - 416788
 purple - a098ae
 dark-purple - 0d0221
 pink - 9b287b
 dark-blue - 1d263b
*/

html {
  background: #0d0221;
}

body {
}

a {
  color: #a098ae;
}

a:hover {
  color: #e0e0e2;
  text-decoration: none;
}

.navbar {
  background: #1d263b;
  padding: 10px 5px 0;
  box-shadow: 0px 2px 10px #1d263b;
  border: 0;
}

/* override bootstrap hover and focus on navbar */
.navbar li>a:focus, .navbar li>a:hover {
  background-color: #1d263b;
}

.nav-brand.logo a {
  background: url('https://res.cloudinary.com/www-napaartwalk-com/image/upload/h_60,c_limit/v1434261998/15-17%20Images/logo.png') no-repeat;
  text-indent: 100%;
}

footer {
  color: #a098ae;
  height: 250px;
  margin-top: 50px;
  background: #1d263b; /* Old browsers */
  background: -moz-linear-gradient(top,  #1d263b 49%, #0d0221 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(49%,#1d263b), color-stop(99%,#0d0221)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1d263b 49%,#0d0221 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1d263b 49%,#0d0221 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1d263b 49%,#0d0221 99%); /* IE10+ */
  background: linear-gradient(to bottom,  #1d263b 49%,#0d0221 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d263b', endColorstr='#0d0221',GradientType=0 ); /* IE6-9 */
}

footer .row {
  margin: 30px 0;
}


/* horrible hack for seamless sections*/
.landing-container {
  margin-bottom: -50px;
  padding: 70px 70px 40px;
  width: 100%;
}

.landing--art {
  position: relative;
}

.landing--art .art {
  margin-bottom: 40px;
}

.landing--art img {
  box-shadow: 2px 2px 10px #1d263b;
}

/* styling for pictures */
.landing--art .description {
  color: white;
  position: absolute;
  padding: 10px 5px 0px 10px;
  z-index: 1;
  bottom: 0px;
  width: 340px;
  box-shadow: 0px 313px rgba(29, 38, 59, 0.5) inset;
}

.landing--art .description .title{
  margin-top: -5px;
  margin-bottom: 2px;
  font-size: 16px;
}

.landing--art .description .artist{
  font-size: 12px;
  margin-bottom: 2px;
  margin-left: 10px;
}

.landing--news {
  padding-bottom: 100px;
  background: #fafaff;
}

.landing--news li {
  font-size: 12px;
  list-style: none;
}


/* artshow */
.artshow--show {
  background: #fafaff;
  margin: -11px 0 0 0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.artshow--image {
  padding: 25px;
}

.artshow--info { }

.artshow--info .artshow--info--about {
  font-style: italic;
  font-weight: bold;
  float: left;
  padding: 5px 20px 10px 10px;
}

.artshow--info .price{
  font-style: italic;
  float: left;
  padding: 10px 10px 10px 5px;
}

.artshow--info i.action {
  padding: 0 5px 0 5px;
  color: #9b287b;
}

.artshow--info i.action span {
  font-size: 12px;
  font-style: italic;
}

.artshow--info .sales-info{
  font-size: 12px;
  font-style: italic;
}

/* ---- grid ---- */

.grid {
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  position: relative;
  float: left;
}

.grid-item--width2 { width:  320px; }

.grid-item--height2 { height: 200px; }
