<div class="container sponsors-container top-buffer bottom-buffer">
  <section>
    <h1>Sponsors</h1>
    <div class="row">
      <div ng-repeat="sponsor in sponsors">
        <div class="col-lg-4 col-sm-6 col-xs-12 sponsor">
	    <a href="{{sponsor.site}}">
		  <cl-image public-id="15-17 Images/logo" class="inline image-responsive" format="jpg">
		    <cl-transformation width="340" height="340" crop="limit" gravity="north"/>
		  </cl-image>
	    </a>
        </div>
      </div>
    </div>
  </section>
</div>
