<section>
  <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h1>Sponsors</h1>
            <hr>
        </div>
    </div>
    <div class="row">
      <div ng-repeat="sponsor in sponsors | filter:{ type: 1 }">
        <div class="col-lg-4 col-sm-6 col-xs-12 sponsor">
          <a href="{{sponsor.site}}">
            <cl-image public-id="{{sponsor.name}}" alt="{{sponsor.name}}" class="inline image-responsive" format="jpg">
              <cl-transformation width="40" height="40" crop="limit" gravity="north"/>
            </cl-image>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h1>Donors</h1>
            <hr>
        </div>
    </div>
    <div class="row">
      <div ng-repeat="sponsor in sponsors | filter:{ type: 2 }">
        <div class="col-lg-4 col-sm-6 col-xs-12 sponsor">
          <a href="{{sponsor.site}}">
            <cl-image public-id="{{sponsor.name}}" alt="{{sponsor.name}}" class="inline image-responsive" format="jpg">
              <cl-transformation width="40" height="40" crop="limit" gravity="north"/>
            </cl-image>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h1>Special Thanks</h1>
            <hr>
        </div>
    </div>
    <div class="row">
      <div ng-repeat="sponsor in sponsors | filter:{ type: 3 }">
        <div class="col-lg-4 col-sm-6 col-xs-12 sponsor">
          <a href="{{sponsor.site}}">
            <p>{{sponsor.name}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
