<div class="container top-buffer">
  <div ng-repeat="program in programs | orderBy: '-date'">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{program.title}}</h3>
      </div>
      <div class="panel-body">
        <p>{{program.title}} | {{program.date}}</p>
        <div ng-bind-html="short"></div>
        <hr>
        <div class="row">
          <div ng-repeat="art in program.art">
            <div class="col-lg-4 col-sm-6 col-xs-12">
              <a ng-href="#/art/{{art.slug}}">
                <cl-image public-id="{{art.image}}" class="img-responsive" format="jpg">
                  <cl-transformation width="340" height="340" crop="fill" gravity="north"/>
                </cl-image>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
